.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  --whatToDoColor: #8892b0;
}

.title {
  color: var(--color-text);
  padding-bottom: 10px;
  font-weight: 600;
  font-family: var(--font-text);
}

.name {
  font-size: 60px;
  font-weight: 700;
  color: #ccd6f6;
}

.whatToDo {
  font-size: 60px;
  font-weight: 700;
  color: var(--whatToDoColor);
}

.description {
  padding-top: 20px;
  width: 700px;
  color: #6e7894;
  font-family: var(--font-text);
}

.accent {
  color: var(--whatToDoColor);
}

.passion {
  padding-top: 20px;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-text);
}

.avatar {
  width: 400px;
  z-index: 100;
  position: relative;
}

.picture {
  position: relative;
  --size-square: 400px;
}

.square {
  width: var(--size-square);
  height: var(--size-square);
  border: 1px solid var(--whatToDoColor);
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 1;
}

.square2 {
  width: var(--size-square);
  height: var(--size-square);
  border: 1px solid var(--color-text);
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
