.header {
  height: auto;
  padding: 1rem 0;
  background-color: rgba(1, 2, 5, 0.71);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.title {
  color: var(--color-text);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: white;
  }
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #ccd6f6;
    font-weight: 600;
  }
}

.resume {
  border: 1px solid #ccd6f6;
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover {
    color: white;
    border-color: white;
  }
}


@media (max-width: 768px) {
  .content {
    gap: 1rem;
    padding: 0 1rem;
  }

  ul {
    width: 100%;
    gap: 0.1rem;
  }

  .links {
    width: 100%;
  }

  .title {
    font-size: 1.1rem;
  }
}
